body {
    background-color: rgb(224, 224, 197);
    font-family: arial;
    text-align: center;
}

#main {
    background-color: white;
    border: 2px solid rgb(224, 224, 197);
    border-radius: 10px;
    width: 700px;
    margin: 40px auto;
}

button {
    width: 100px;
    height: 40px;
    margin: 20px;
}

.dado {
    display: none;
    width: 300px;
    border-radius: 40px;
    margin: 50px;
}